{% extends 'screen/algemeen.html.twig' %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link " href="{{ path('app_admin_homepage') }}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_admin_instructeurs') }}">Instructeurs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_admin_leden') }}">Leden</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">Trainingen</a>
    </li>
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col">
            <h1>Training toevoegen</h1>

            {{ form_start(trainForm)}}
            {{ form_widget(trainForm) }}

            <button type="submit" class="btn btn-primary">save</button>
            {{ form_end(trainForm) }}
        </div>
    </div>
{% endblock %}