{% extends 'screen/algemeen.html.twig' %}
    {% block nav %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_bezoek_homepage') }}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Trainings Aanbod</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_bezoek_lidword') }}">Lid Worden</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_bezoek_gregels') }}">Gedragsregels</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_bezoek_locatie') }}">Lokatie & contact</a>
        </li>
    {% endblock %}
    {% block content %}
        <h1>Overzicht Trainingen</h1>
        <table class="table">
            <thead>
            <th>Naam</th>
            <th>Omschrijving</th>
            <th>Duratie</th>
            <th>Prijs</th>
            </thead>
            <tbody>
            {% for training in trainingen %}
                <tr>
                    <td>{{ training.naam }}</td>
                    <td>{{ training.description }}</td>
                    <td>{{ training.duration|date('H:i') }}</td>
                    <td>{{ training.costs }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}