<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>{% block title %}Welcome!{% endblock %}</title>
            {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('../css/algemeen.css') }}">
            {% endblock %}
        </head>
        <body>
            {% block body %}



                <div class="container" >
                    <div id="hoofd">
                        <div id="Logo">
                            <img src="{{ asset('../img/logo.png') }}" alt="Logo">
                        </div>
                    </div>
                    <nav class="navbar navbar-expand-sm navbar-light sticky-top">
                        <button class="navbar-toggler" data-toggle="collapse" data-target="#collapse_target">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="collapse_target">
                            <ul class="navbar-nav">
                                {% block nav %}{% endblock %}
                            </ul>
                        </div>
                    </nav>
                    {% for msg in app.session.flashBag.get('succes') %}
                        <div class="alert alert-success">
                            {{ msg }}
                        </div>
                    {% endfor %}
                    <div id="borders">
                        <div class="row">
                            <div class="col-sm">
                                <img src="{{ asset('../img/pic1.png') }}" alt="Logo" class="d-none d-md-block">
                            </div>
                            <div class="col-sm">
                                <img src="{{ asset('../img/pic2.png') }}" alt="Logo" class="d-none d-md-block">
                            </div>
                            <div class="col-sm">
                                <img src="{{ asset('../img/pic3.png') }}" alt="Logo" class="d-none d-md-block">
                            </div>
                        </div>
                        <div id="borders">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                    <footer class="bottom">
                        <H5>Training Centrum Den Haag 010 519 0532</H5>
                            <a>developed by FastDevelopment 2019</a>
                    </footer>
                </div>
                {% block javascripts %}
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
                {% endblock %}
            {% endblock %}
        </body>
    </html>